# Dependency directories
node_modules/
.pnpm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Local environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*

# Editor directories and files
.vscode/
.idea/
*.swp

# Mac specific
__MACOSX/

# Optional cache folders
.cache/
.parcel-cache/
